/OBJ_Axe.class
/OBJ_Coin_Bronze.class
/OBJ_Door.class
/OBJ_Fireball.class
/OBJ_Heart.class
/OBJ_Key.class
/OBJ_ManaCrystal.class
/OBJ_Potion_Red.class
/OBJ_Rock.class
/OBJ_Shield_Blue.class
/OBJ_Shield_Wood.class
/OBJ_Sword_Normal.class
/Projectile.class
/ProjectileGraphic.class
/SuperObject.class
/SuperObjectGraphic.class
/OBJ_Teleport.class
